#accordian {
    height: 300px;
    border: 1px solid #000;
    display: inline-block;
    font-size: 0;
  }
  .photo-section {
    width: 100px;
    height: inherit;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    transition: width 200ms linear;
  }
  /* full size of the photo*/
  .photo-section:hover {
    width: 250px;
  }
  .c1 {background: #999;}.c2 {background: #888;}.c3 {background: #777;}